<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h3>Cars</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    <tr>
    <tr th:each="car:${count}">
        <div th:object="${car}">

            <td th:utext="*{getName()}"></td>

            <td th:utext="*{getColor()}"></td>

            <td th:utext="*{getYear()}"></td>

        </div>
    </tr>
    </tr>
</table>
</body>
</html>

